.landing-background {
    background-image: url('../assets/kanban-bg.webp');
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
  }
  
.overlay {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    padding: 20px; /* Or as needed */
    border-radius: 5px; /* Optional, for rounded corners */
}

/* LandingPage.css or another relevant CSS file */
.nav-dropdown-title-custom {
  font-weight: bold !important;
  font-size: 1.2em !important;
  color: white !important;
}